@media print {

  * {overflow: visible !important}

  @page  
  { 
      size: auto;   /* auto is the initial value */ 
      /* this affects the margin in the printer settings */ 
      margin: 0.5in 0.5in 0.5in 0.5in;  
  } 

  /*
    This fixes fraction and overbar issue.
  */
  .katex .hide-tail {overflow: hidden !important}

  body, html {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    overflow: auto;
    display: inline;
  }

  h1,h2,h3,h4,h5,h6 {page-break-before: always;}

  h1,h2,h3,h4,h5,h6 { 
    width: 100%;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }

  h1 {
    font-size: 1.25em;
    color: black;
    border-bottom: 2px solid black;
  }
  h2 {
    font-size: 1.15em;
    border-bottom: 1px solid black;
  }
  h3 {
    font-size: 1.10em;
  }
  h4,h5,h6 {
    font-size: 1.05em;
  }

  .md-toc {
    page-break-inside: avoid;
    font-size: 14px;
  }


  pre {
    page-break-inside: avoid;
  }

  p {
      /* margin-block-start, margin-block-end seem to be ignored
         when printed using PDF writer in biedit.py. Using browser
         print emulator, they work.
        margin-block-start: 0;
        margin-block-end: 0.5em;
        margin-top:  0;
        margin-bottom: 0.5em;
      */
      margin-top: 0.5em;
      margin-bottom: 0.5em;
  }

  .title {
    page-break-before: always;
    margin-top: 0;
  }

  #toc {
    display: none;
    font-size: 100%;
    margin: 0;
    width: 100%;
    overflow-y: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  #display {
    margin-left: 0em;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border: none;
    overflow-wrap: break-word;
  }

  .katex {
    font: normal 1.0em KaTeX_Main,Times New Roman,serif;
    line-height: 1.1;
    white-space: nowrap;
    text-indent: 0;
    text-rendering: auto;
  }

  .katex-display {
    margin-top: 0 !important;
    font-size: 1.0em !important;
  }

}  