/* In exported html, <body> is given class .body.
TODO. In app, should use .body-app so that saved HTMl
does not need <body> to have a class
*/

.body {
  display: flex;
  min-width: 50%;
  max-height: 100%;
  position: absolute;
  background-image: url("https://rweigel.github.io/biedit/img/paper.png");
}

#toc {
  flex: 0 1 auto;
  margin-top: 0.0em;
  margin-right: 1.0em;
  max-width: 12em;
  overflow-x: hidden;
  overflow-y: auto;
}

#toc .toctext {
  /* display: inline-block;*/
  color: darkblue;
}


#toc .toctext-empty {
  /* display: inline-block;*/
  min-width: 1em; /* A 2em clickable area when there is no title. */
  border-bottom: 1px solid blue; /* Makes span look like link */
}

#toc ol {
  margin-top: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.0em;
  margin-bottom: 0.0em;
  list-style-type: decimal;
  padding-inline-start: 1em;
}

#toc a {
  text-decoration: none;
}

#display {
  flex: 1;
  flex-basis: 80%;
  overflow-x: hidden;
  overflow-y: auto;
  overflow-wrap: break-word;
}

#display .abstract {
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: black;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#display .title {
  text-align: center;
  font-size: 150%;
  font-weight: bold;
  color: black;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

#display .subtitle {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
  color: black;
  margin-top: 0.2em;
}

#display .date {
  text-align: right;
  color: black;
}

#display .block {
  display: flex;
  flex: 1 1 auto;
}

#display .block > .comment {
  display: none;
}

#display .hr {
  width: 100%;
  height: 1px;
  display: block;
  margin: 0.5em;
  border-top: 1px solid black;
}

#display a {
  text-decoration-line: none;
  text-decoration-color: black;
  color: darkblue;
}

#display a.broken-internal-link {
  background-color: none;
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 2px;
  text-decoration-color: red;
}

#display span.broken-internal-link {
  font-size: 0.75em;
  color: red;
}

#display a:focus-visible {
    outline: none;
    background-color: yellow;
}

#display p {
  width: 100%;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#display pre {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#display h1,h2,h3,h4,h5,h6 {
  width: 100%;
  text-decoration: none;
  color: inherit;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

  #display h1 {
    color: darkblue;
    border-bottom: 2px solid darkblue;
  }

  #display h2 {
    border-bottom: 1px solid black;
  }

  #display h3 {
    border-bottom: 1px dotted black;
  }

#display img {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  max-width: 100%;
}

figure {
  display: block;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

details > summary {
  font-weight: bold;
}

details {
  padding-left: 0.5em;
}

details[open] {
  border: 1px solid black;
  padding: 0em;
  padding-left: 0.5em;
}

/* https://gist.github.com/andyferra/2554919 */
table {
  padding: 0;
  display: block;
  width: 100%;
}
table tr {
  border-top: 1px solid #cccccc;
  background-color: white;
  margin: 0;
  padding: 0; }
  table tr:nth-child(2n) {
    background-color: #f8f8f8; }
  table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
  table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px; }
  table tr th :first-child, table tr td :first-child {
    margin-top: 0; }
  table tr th :last-child, table tr td :last-child {
    margin-bottom: 0; }

/* `text` */
#display code {
  width: 100%;
  background-color: rgba(0,0,0,.03);
  border-radius: 0px;
  white-space: pre-wrap;
}

#display code ~ .line-number {
  margin-top: 3px;
  margin-right: 3px;
}

/*
```
Text
Text
```
*/

#display pre {
  width: 100%;
  text-indent: 0.75em;
  margin: 0;
  /*
  padding-left: 0.5em;
  margin-left: 1em;
  */
  margin-top: 0.5em;
  margin-bottom: 0.5em;  
  white-space: pre-wrap;
  border-left: 3px solid black;
  background-color: rgba(0,0,0,.03);
  line-height: 1.25;
  overflow-x: clip;
}

#display pre code {
  background-color: rgba(0,0,0,0);
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

#display pre.language-python {
}

#display li > div {
  display: flex;
}

#display li {
  min-height: 1em;
  width: 100%;
}

#display ul {
  width: 100%;
  margin-top: 0.5em;
  margin-bottom: 0.5em;  
  margin-left: 1em;
  padding-left: 0.35em;
}

#display ul.compact {
  margin-top: 0.25em;
  margin-bottom: 0.25em;  
}

#display ol {
  width: 100%;
  margin-left: 1em;
  padding-left: 0.5em;
}

/* outermost ol */
#display > .section > .block & > ol.compact {
  margin-top: 0.25em;
  margin-bottom: 0.25em;  
}

/* outermost ol */
#display > .section > .block > ol.loose {
  margin-top: 0.5em;
  margin-bottom: 0.5em;  
}

#display > .section > .block > ol.compact {
  margin-top: 0.25em;
  margin-bottom: 0.25em;  
}

#display ol.compact p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;  
}

#display ol.loose p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;  
}

#display ul.compact p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;  
}

#display ul.loose p {
  margin-top: 0.25em;
  margin-bottom: 0.25em;  
}


/*
#display li > .block:first-of-type p {
    width: 100%;
    display: block;
    margin-top: 0em;
    margin-bottom: 0em;
  }
*/

.inline-html .block .block-info {
  display: none;
}
.inline-html {
  width: 100%;
}

.section > .block ol ~ .block-info {
  /* display: none;*/
}
.section > .block ul ~ .block-info {
  /* display: none;*/
}
.section > .block pre ~ .block-info {
  /* display: none; */
}
.section > .block code ~ .block-info {
  /* display: none;*/
}

pre .block-info {
  font-size: 8px;
  text-align: right;
  text-indent: 0;
}

.block-info {
  text-align: right;
  width: 24px;
  font-family: monospace;
  white-space: pre-line;
  word-wrap: break-word;
  font-size: 8px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.blockquote {
  width: 100%;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  border: 1px solid black;
  padding: 1em;
  border-radius: 0.5em;
}


.inline {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.latex-underline {
  text-decoration:underline;
}

/*
  A span with class 'katex' wraps all equations. A span with class
  katex-display wraps block equations and a span with class katex.
*/
.katex { 
  font-size: inherit !important;
}

.katex-warning {
  border-right: 0.5em solid red;
}

.katex-display {
  text-align: center;
  margin: 0.0em;
  font-size: 1.0em !important;
}
.katex-display.fleqn > .katex {
  padding-left: 0em;
  margin: 0em;
}

.page-break {
  page-break-after: always;  
  width: 100%;
  font-size: 0px;
  border-top: 1px dotted black;
}

.solutionsfalse {
  display: none;
}

.solutionstrue {
  display: block;
}

@media print {

  * {overflow: visible !important}

  @page
  { 
      size: auto;   /* auto is the initial value */ 
      /* this affects the margin in the printer settings */ 
      /* margin: 0.75in;*/
      margin-top: 0.5in;
      margin-bottom: 0.75in;
      margin-left: 0.75in;
      margin-right: 0.75in;
  } 

  /*
    This fixes fraction and overbar issue.
  */
  .katex .hide-tail {overflow: hidden !important}

  body, html, {
    margin: 0;
    padding: 0;
    color: #000;
    background-color: #fff;
    overflow: auto;
    display: inline;
  }

  .page-break {
    border-top: none;
  }

  .body {
    display: inline;
    position: relative;
  }

  h1,h2,h3,h4,h5,h6 { 
    width: 100%;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
  }

  h1 {
    font-size: 1.25em;
    color: black;
    border-bottom: 2px solid black;
  }
  h2 {
    font-size: 1.15em;
    border-bottom: 1px solid black;
  }
  h3 {
    font-size: 1.10em;
  }
  h4,h5,h6 {
    font-size: 1.05em;
  }

  .md-toc {
    page-break-inside: avoid;
    font-size: 14px;
  }

  pre {
    page-break-inside: avoid;
  }

  p {
      /* margin-block-start, margin-block-end seem to be ignored
         when printed using PDF writer in biedit.py. Using browser
         print emulator, they work.
        margin-block-start: 0;
        margin-block-end: 0.5em;
        margin-top:  0;
        margin-bottom: 0.5em;
      */
      margin-top: 0.5em;
      margin-bottom: 0.5em;
  }

  #toc {
    display: none;
    font-size: 100%;
    margin: 0;
    width: 100%;
    overflow-y: hidden;
    padding-left: 0;
    padding-right: 0;
  }

  #display {
    margin-left: 0em;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    border: none;
    overflow-wrap: break-word;
  }

  .katex {
    font: normal 1.0em KaTeX_Main,Times New Roman,serif;
    line-height: 1.1;
    white-space: nowrap;
    text-indent: 0;
    text-rendering: auto;
  }

  .katex-display {
    margin-top: 0 !important;
    font-size: 1.0em !important;
  }
}  
