<!DOCTYPE html>
<head>
    <title>Github Login</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flash">
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% if current_user.is_authenticated %}
  You are logged in as {{ current_user.username }}!

  {% block content %}
  <h3>Please enter the repo name :</h3>
  <form action="" method="post">
    <p>
      {{form.repo_name.label}}<br>
      {{form.repo_name(size=30)}} <br>
    </p>
    <p>
      {{form.submit()}}
    </p>
  </form>
<h3>Stdout : </h3>
<p>{{git_stream}} </p>

<h3>Stderr : </h3>
<p>{{git_stream_error}} </p>

  {% endblock %}

  <a href="{{ url_for("logout") }}">Log out</a>
{% else %}
  You are not logged in.
  <a href="{{ url_for("github.login") }}">Log in</a>
{% endif %}
</body>
